@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
    font-size: 20px;
    font-family: 'Caveat', cursive; 
    
}

.hike{
    margin: auto;
}
table{
    margin: auto;
}
.hike img{
    border-radius: 50px;
}